// Beta (TestFlight) configuration
SWIFT_ACTIVE_COMPILATION_CONDITIONS = BETA
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_OPTIMIZATION_LEVEL = s
ENABLE_TESTABILITY = NO
OTHER_SWIFT_FLAGS = -D BETA
ENABLE_BITCODE = NO
STRIP_SWIFT_SYMBOLS = YES
VALIDATE_PRODUCT = YES
